<input type="text" [(ngModel)]="item">
<button (click)="add()">Add to List</button>

<ul>
  <li *ngFor="let item of tasks" [innerHtml]="item">
    
  </li>
</ul>
<!-- DIRECTIVE -->
<div [hidden]="isAdmin">
  Common User
</div>
<br/>

<div [hidden]="!isAdmin">
  Administrador
</div>
<br/>

<div *ngIf="isAdmin">
  Administrador 2
</div>

<div  [ngSwitch]="profile">
<p *ngSwitchCase="2">
  you can read & write
</p>
<p *ngSwitchCase="1">
    you can read
</p>
<p *ngSwitchDefault>
  Congragulations!
</p>
<br/>
<!-- VALIDANDO FORMULARIO -->
<form #form="ngForm">
<div>
  <label for="name">NAME</label>
  <input type="text" id="name" name="name" [(ngModel)]="name" #nameVerify="ngModel" required>
  <span *ngIf="nameVerify.invalid">Name is required</span>
</div>
<br/>
<div>
  <label for="email">EMAIL</label>
  <input type="text" id="email" name="email" [(ngModel)]="email" #emailVerify="ngModel" required email>
  <span *ngIf="emailVerify.invalid">Email is required</span>
</div>
<button type="submit" [disabled]="!form.valid">Enviar</button>
</form>